#imgBasket{
  height:75px;
  width:100px;
}
#close{
  margin-right:500px;
}
#lineProductSelling{
  display: flex;
  width:100%;
  flex-wrap: wrap;
  margin-top:100px;
}
#nameProduct{
  width:33.333%;
  text-align: center;
}
#quantityProduct{
  width:33.333%;
  text-align: center;
}
#priceProduct{
  width:33.333%;
  text-align: center;
}
#priceCommand{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:100%;
  text-align: right;
  padding-right:300px;
}
table{
  width:100%;
}
.delete{
  margin-top:20px;
  margin-right:10px;
}
#pay{
}
.modal-body{
  height:auto;
}
#banniere{
width: 100%;
}
.card-title{
  color:orange;
}
#note{
  margin-right: 100px;
}
body{
  background:rgba(44, 62, 80, 0.5);
}
#color{
  font-family: 'Bungee Inline', cursive;
  font-family: 'Alegreya SC', serif;
  font-family: 'Bowlby One SC', cursive;
  color: white;
  font-size: 30px;
}
.card{
  float: left;
  height: 35em;
  text-align: center;
  margin-right:13px;
  margin-top: 10px;
}
#navbarNavAltMarkup{
  display: flex;
  justify-content: center;
}
#navbar{
  font-family: 'Bungee Inline', cursive;
  font-family: 'Alegreya SC', serif;
  font-family: 'Bowlby One SC', cursive;
  color: orange;
}
#footer{
  height: 23em;
}
#navbarDropdown{
  font-family: 'Bungee Inline', cursive;
  font-family: 'Alegreya SC', serif;
  font-family: 'Bowlby One SC', cursive;
  color: white;
  font-size: 25px;
}
